__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env*
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
*.ini
.git*
tests
scripts
postman
htmlcov
.vscode
.pytest_cache
.mypy_cache
*.lock
*.toml
*.md
*.yaml
